{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{!-- <header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header> --}}

<style>
    .post-full {
        margin-left: 25%;
        width: 75%;
    }
    .post-content p{
        text-align: justify;
    }
    .post-full-content h2:not(:first-child){
        padding-top: 140px;
    }
    .left-side-bar {
        width: 20%;
        position: fixed;
        float:left;
        z-index: 100000;
        -webkit-transition: ease 1s;
        transition: ease 1s;
        display: block;
    }

    .left-side-bar a:active {
        font-weight: bold;
    }

    .left-side-bar.not-sticky {
        position: relative;
    }

    .post-full-image {
        margin: 10px 0;
        border-radius: 0;
    }
    body{
        position: relative;
    }
    
    .left-side-bar a{
        display: block;
        font-weight: bold;
        margin: 15px 0;
    }
    .left-side-bar a.current{
        border-left: solid #9d2449 5px;
        padding-left: 10px;
    }
    @media (max-width: 767px) {
        .post-full{
            width: 100%;
            margin: 0 auto;
        }
        .left-side-bar{
            display: none !important;
        }
        .post-full-content h2:not(:first-child){
            padding-top: 0;
        }
    }
</style>
{{> "site-nav"}}
{{!-- Everything inside the #post tags pulls data from the post --}}
PAGE
{{#post}}

<main id="site-main" class="site-main">
    <div class="inner">
        <aside class="left-side-bar" id="left-side-bar">
        {{#get "pages" filter="page:true+tags:{{primary_tag.slug}}" order="id asc"}}
            {{#foreach pages}}
            <a href="{{url}}" {{#has slug="{{post.slug}}"}}{{/has}}>{{title}}</a>
            {{/foreach}}
        {{/get}}
        {{!-- {{#has slug="sfp"}}
        <a href="{{@site.url}}/directorio">Directorio</a>
        {{/has}} --}}
        </aside>
        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
            {{#if feature_image}}
            <figure class="post-full-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
            </figure>
            {{/if}}
            <section class="post-full-content"> 
                <header class="post-full-header">
                    <h1 class="post-full-title text-left">{{title}}</h1>
                </header>
                <div class="post-content">
                    {{content}}
                </div>
            </section>

        </article>


    </div>
</main>

{{/post}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        if($(".left-side-bar").find("a").length==0){
            $(".left-side-bar").hide();
        }
        else{
            var url= window.location.href; 
            var url_split=url.split('/');
            console.log($(".left-side-bar").find('a[href="'+url_split[url_split.length-2]+'"]'));
        }
        /*    $postContent.find("h2").each(function (index, el) {
                $("<a href='#" + el.id + "'>" + el.innerHTML + "</a>").appendTo(".left-side-bar");
            });  
            var footer = $("footer").offset().top;
            $(window).scroll(function (event) {
                if ($(window).scrollTop() >= footer-500)
                    $(".left-side-bar").hide('slow');
                else
                    $(".left-side-bar").show('slow');
            });
            $('body').scrollspy({ target: '#left-side-bar' })
        }
         
        /*$(".left-side-bar a").click(function(){
            var id=$(this).attr('href');
            $('html,body').animate({scrollTop: $("h2"+id).offset().top},'slow');    
        });*/
       
        
    });
</script>
{{/contentFor}}