<style>
  .carousel {
    margin: 30px 0 60px 0;
  }

  .item {
    min-height: 330px;
    position: relative;
  }

  .item .container {
    min-height: 330px;
  }

  .item h1 {
    font-size: 3rem;
  }

  .carousel-caption a {
    color: white;
  }

  .carousel-caption a:hover,
  .carousel-caption a:active {
    color: #white;
    text-decoration: none;
  }

  .carousel-inner>.item>a>img,
  .carousel-inner>.item>img {
    width: 100%;
    height: 330px;
  }

  @media screen and (min-width: 768px) {
    .carousel-indicators {
      bottom: 0;
    }

    .carousel-caption {
      left: 10%;
      text-align: left;
      bottom: unset;
      top: 20px;
      width: 50%;
    }
  }
</style>
<!-- Carousel ================================================== -->
<div id="carousel-home" class="carousel slide" data-ride="carousel">
  {{!-- Indicators --}}
  <ol class="carousel-indicators">
    <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-home" data-slide-to="1"></li>
    <li data-target="#carousel-home" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    {{#get "posts" limit="3" filter="featured:true" order="published_at desc"}}
    {{#foreach posts}}
    <div class="item{{#if @first}} active{{/if}}"
      style="background:linear-gradient(to right,rgba(0,0,0,0.6) 20%, rgba(0,0,0,0.2) 90%), url('{{img_url feature_image}}') #cf913e 50% 50% no-repeat;background-size: cover"> 
      {{!-- <img src="{{feature_image}}" alt="{{title}}" height="330px"> --}}
      <div class="container">
        <div class="carousel-caption">
          <a href="{{url}}">
            <h1>{{title}}</h1>
            {{content characters="140"}}
          </a>
        </div>
      </div>
    </div>
    {{/foreach}}
    {{/get}}

  </div>

  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div><!-- /.carousel -->
<script type="text/javascript" src="{{asset "js/bootstrap.js"}}"></script>
<script>
  
    $(document).ready(function(){
        $('.carousel').carousel();
    });
</script>