<style>
  .carousel {
    margin: 30px 0 60px 0;
  }

  .item {
    min-height: 330px;
    position: relative;
  }

  .item .container {
    min-height: 330px;
  }

  .item h1 {
    font-size: 3rem;
  }

  .carousel-caption a {
    color: white;
  }

  .carousel-caption a:hover,
  .carousel-caption a:active {
    color: #white;
    text-decoration: none;
  }

  .carousel-inner>.item>a>img,
  .carousel-inner>.item>img {
    width: 100%;
    height: 330px;
  }

  @media screen and (min-width: 768px) {
    .carousel-indicators {
      bottom: 0;
    }

    .carousel-caption {
      left: 10%;
      text-align: left;
      bottom: unset;
      top: 20px;
      width: 50%;
    }
  }
</style>
<!-- Carousel ================================================== -->
<div id="carousel-home" class="carousel slide" data-ride="carousel">
  {{!-- Indicators --}}
  <ol class="carousel-indicators">
    <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-home" data-slide-to="1"></li>
    <li data-target="#carousel-home" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">

    {{#get "posts" limit="5" include="tags" filter="featured:true" order="published_at desc"}}
    {{#foreach posts}}
    <div class="item {{#if @first}}active{{/if}}"
      style="background:linear-gradient(to right,rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%), url('{{feature_image}}') #cf913e 50% 50% no-repeat;background-size: cover">
      {{!-- <img src="{{feature_image}}" alt="{{title}}" height="330px"> --}}
      <div class="container">
        <div class="carousel-caption">
          <a href="{{url}}">
            <h1>{{title}}</h1>
            {{content characters="140"}}
          </a>
        </div>
      </div>
    </div>
    {{/foreach}}
    {{/get}}

  </div>

  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div><!-- /.carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>