
<style>
    /*.site-nav-left>.nav>li, .site-nav-left>.nav>li>a{
               position: inherit;
           }*/
           .site-nav .nav li a.dropdown-item {
                color: white;
           }           
           .site-nav .nav li a.dropdown-item:hover {
                color: #3c484e;
           }           
           .site-nav .nav li .dropdown-menu-large{
            background: #9f2148;
            margin-top:0;
            border-top: 0;
            border-radius: 0;
            min-width: 400px;
            -webkit-transition: all .3s ease .15s;
            -moz-transition: all .3s ease .15s;
            -o-transition: all .3s ease .15s;
            -ms-transition: all .3s ease .15s;
            transition: all .3s ease .15s;
           }
           .site-nav .nav .open>a, .site-nav .nav .open>a:focus, .site-nav .nav .open>a:hover {
                background: #9f2148;
                color: white;
            }
            .site-nav .nav li.nav-current a.active, .dropdown-toggle.active{
                background: #9f2148;
                color: white;
            }
            .flexed{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: wrap;
                height: 150px;
            }
            .flexed a.dropdown-item{
                flex: 1 1 30%;
            }
            .nav-inicio a{
                font-size: 16px;
            }
            @media (max-width: 767px) {
                .dropdown-menu {
                    display: none;
                }
                .site-nav .nav li a {
                    color:#fff;
                }
                .site-nav .nav li.nav-current a{
                     color:#333;
                }
                .site-nav .nav li a:hover {
                    color:#333;
                }
            }
</style>
<ul class="nav" role="menu" id="navbarMain">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    
    <li role="menuitem" class="{{#unless @first}}dropdown dropdown-large{{/unless}} nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}" {{#unless @first}}class="dropdown-toggle" id="navbarDropdown-{{slug}}"{{/unless}}>{{label}}</a>
        {{#unless @first}}
        <div class="dropdown-menu dropdown-menu-large" aria-labelledby="navbarDropdown-{{slug}}">
            <div class="flexed">
                {{!-- {{#get "pages" filter="page:true+slug:{{slug}}"}} --}}
                {{#get "pages" filter="page:true+primary_tag:nav-{{slug}}" order="id asc"}}
                    {{#foreach pages}}
                    <a class="dropdown-item" href="{{url absolute="true"}}">{{title}}</a>
                    {{/foreach}}
                {{/get}} 
            </div>
        </div>
        {{/unless}}
    </li>
    {{/foreach}}
    <!-- End the loop -->
</ul>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{#contentFor "scripts"}}
<script>

    $(document).ready(function () {
        $(".nav-inicio a").html('<span class="glyphicon glyphicon-home"></span>');
        /*
        var $li=$(".nav li.dropdown");
        $li.each(function(){
            var $slug_li=$(this).find("a.dropdown-toggle").attr('href');
            var $dropdown= $(this).find(".dropdown-menu");
            var $postcontent=$(this).find(".post-content-hidden");     
            console.log($(this));
            if($postcontent.length > 0)
            {
                var $i =0, $col=0;
                $dropdown.append("<div class='col-lg-3' id='col"+$col+"'></div>");
                $postcontent.find("h2").each(function (index, el) {
                    console.log('i:'+$i+'col:'+$col);
                    $("<a class='dropdown-item' href='"+ $slug_li + "#"+el.id + "'>" + el.innerHTML + "</a>").appendTo($dropdown.find("#col"+$col));
                    if($i%2==0 && $i!=0)
                    {
                        $col++;$i=-1;
                        console.log('ntre ig');
                        $dropdown.append("<div class='col-lg-3' id='col"+$col+"'></div>");                
                        
                    }
                    $i++;   
                });
               
            }
            $postcontent.remove();
        });*/
        if($(window).width() > 767){
            $(".dropdown").hover(function(){
                $(this).find(".dropdown-toggle").addClass("active");
                $as=$(this).find("a.dropdown-item");
                if($as.length > 0){
                    $(this).find(".dropdown-menu").show();
                    var mayor = 0;
                    $as.each(function(){
                        if(mayor < $(this).width())
                        mayor=$(this).width();   
                    });
                    $(this).find(".dropdown-menu").width(($as.length/3 * mayor)+10);
                }
            },function(){
                var el =$(this);
                window.setTimeout(function(){
                    el.find(".dropdown-toggle").removeClass("active");
                    el.find(".dropdown-menu").hide('slow');      
                }, 200);          
            });
        }
        
        
    });
</script>
{{/contentFor}}